<h1>Privacy Policy</h1>
<p>This Privacy Policy is&nbsp;meant to&nbsp;help you understand what data we&nbsp;collect, why we&nbsp;collect
    it, and what we&nbsp;do&nbsp;with it. Please read it&nbsp;carefully to&nbsp;get a&nbsp;clear understanding
    of&nbsp;how we&nbsp;collect, use, protect or&nbsp;otherwise handle your Personally Identifiable Information
    in&nbsp;accordance with our website.</p>
<h2>Information we&nbsp;collect</h2>
<p>We&nbsp;collect personal information, such as&nbsp;your
    <nobr>e-mail</nobr>
    address, name, mobile number in&nbsp;order to&nbsp;create your Token account and when ordering or&nbsp;registering
    on&nbsp;our site.
</p>
<p>We&nbsp;may collect information about your web site visit, including the pages you viewed, the links you
    clicked and other actions taken within TokenApplications.com and on&nbsp;our Token mobile app. We&nbsp;may also
    collect your MAC address, your computer type, screen resolution, OS&nbsp;version, Internet browser, time of&nbsp;visit
    and your IP&nbsp;address. We&nbsp;use IP&nbsp;addresses to&nbsp;track and analyze traffic levels, to&nbsp;help
    diagnose server problems, and administer the site. We&nbsp;use cookies, pixel tags, web beacons, and other
    similar technologies to&nbsp;better serve you with more tailored information and facilitate your ongoing use
    of&nbsp;our Site. If&nbsp;you do&nbsp;not want information collected through the use of&nbsp;cookies, you
    may disable this feature in&nbsp;your browser. To&nbsp;learn more about cookies, please visit <a target="_blank" href="http://www.allaboutcookies.org">http://www.allaboutcookies.org/</a>.</p>
<h2>How we&nbsp;use Information we&nbsp;collect</h2>
<p>Registering an&nbsp;account on&nbsp;TokenApplications.com requires that you to&nbsp;supply us&nbsp;with your email
    address and mobile number. We&nbsp;use your email address and other contact information you provide us&nbsp;with
    to&nbsp;verify your credentials, to&nbsp;send you transactions receipts and other correspondence, and to&nbsp;communicate
    with you in&nbsp;case of&nbsp;an&nbsp;issue with your account or&nbsp;our service. Your email and mobile
    number may be&nbsp;disclosed to&nbsp;our staff in&nbsp;order to&nbsp;provide you with support when required.
    We&nbsp;do&nbsp;not sell and will not divulge your personal contact information to&nbsp;third parties other
    than as&nbsp;specified in&nbsp;this Privacy Policy without your permission unless we&nbsp;are legally
    entitled or&nbsp;obliged to&nbsp;do&nbsp;so&nbsp;by&nbsp;law.</p>
<p>We&nbsp;may also use your personal information to&nbsp;inform you of&nbsp;other related products or&nbsp;services
    available or&nbsp;special promotions. We&nbsp;may also send you surveys regarding current services or&nbsp;potential
    new services that may be&nbsp;offered through Token.</p>
<p>Should we&nbsp;hire other companies to&nbsp;provide limited services on&nbsp;our behalf, such as&nbsp;handling
    the processing and delivery of&nbsp;mailings, providing customer support, processing transactions, or&nbsp;performing
    statistical analysis of&nbsp;our services, we&nbsp;will only provide those companies the personal
    information they need to&nbsp;deliver the service. They are required to&nbsp;maintain the confidentiality of&nbsp;your
    information and are prohibited from using that information for any other purpose.</p>
<h2>Control of&nbsp;your Personal Information</h2>
<p>Token may send you future promotional email such as&nbsp;surveys, new feature announcements, news and
    periodic informative emails about technical service issues. You may choose not to&nbsp;receive marketing
    material from Token and you may also stop the delivery of&nbsp;future promotional
    <nobr>e-mail</nobr>
    from Token by&nbsp;following the specific instructions in&nbsp;the email you receive.
</p>
<h2>Security of&nbsp;your Personal Information</h2>
<p>We&nbsp;are committed to&nbsp;protecting the security of&nbsp;your personal information. We&nbsp;use a&nbsp;variety
    of&nbsp;security technologies and procedures to&nbsp;help protect your personal information from
    unauthorized access, use, or&nbsp;disclosure. For example, we&nbsp;store the personal information you
    provide on&nbsp;computer systems with limited access, which are located in&nbsp;controlled facilities. When
    we&nbsp;transmit highly confidential information (such as&nbsp;a&nbsp;credit card number) over the Internet,
    we&nbsp;protect it&nbsp;through the use of&nbsp;encryption, such as&nbsp;the Secure Socket Layer (SSL)
    protocol.</p>
<h2>Payment Information</h2>
<p>When you purchase goods and services through our website TokenApplications.com or&nbsp;our mobile app, we&nbsp;do&nbsp;not
    store any of&nbsp;your bank/debit/credit information. For transactions with online debit/credit cards, we&nbsp;transmit
    your entire card information to&nbsp;the appropriate debit/credit card company in&nbsp;an&nbsp;encrypted
    format with globally accepted rules and applications during order processing. In&nbsp;addition, all
    sensitive/credit information you supply is&nbsp;encrypted via Secure Socket Layer (SSL) technology.</p>
<h2>Contacting Us</h2>
<p>If&nbsp;there are any questions regarding this privacy policy, you may contact us&nbsp;using the information
    below.</p>
<p>
    <a href="https://tokenapplications.com">TokenApplications.com</a><br>
    Sharq<br>
    Kuwait City, Kuwait<br>
    Kuwait<br>
    <a href="mailto:support@tokenapplications.com">support@tokenapplications.com</a><br><br>
    Last Edited on 2018-04-03
</p>