<h1>Terms of Service</h1>
<p>The following terms and conditions govern the Account with Token. If&nbsp;you have any questions about the
    information below, please contact us&nbsp;through the links listed at&nbsp;the end of&nbsp;this page.
    Token may terminate this agreement unilaterally at&nbsp;any time.</p>
<h2>1. Terms &amp; Conditions</h2>
<p>By&nbsp;registering and using an&nbsp;Account with Token (the «Account»), you agree to&nbsp;be&nbsp;bound
    by&nbsp;the terms and conditions contained in&nbsp;this agreement which govern your use of&nbsp;the Account.
    The terms and conditions apply to&nbsp;TokenApplications.com website and its associated applications on&nbsp;iPhone
    and Android and any mobile site platforms. Token reserves the right to&nbsp;modify these Terms of&nbsp;Use
    at&nbsp;any time without prior notice. Please read this agreement carefully and keep it&nbsp;for future
    reference.</p>
<h2>2. Account Information</h2>
<p>When registering with Token, you agree to&nbsp;provide us&nbsp;with your valid registration information,
    including, without limitation, your contact information. You may not impersonate or&nbsp;misrepresent your
    identity to&nbsp;us. It&nbsp;is&nbsp;your responsibility to&nbsp;review and revise the Account information
    so&nbsp;that it&nbsp;is&nbsp;accurate and current at&nbsp;all times. We&nbsp;reserve the right to&nbsp;terminate
    the Account if&nbsp;it&nbsp;contains any untruthful information. You are solely responsible for use of&nbsp;the
    Account and you agree to&nbsp;notify us&nbsp;immediately in&nbsp;the event of&nbsp;an&nbsp;unauthorized
    use.</p>
<h2>3. Using the Account</h2>
<p>You can use the Account to&nbsp;automatically pay for parking at&nbsp;any parking facility that uses the
    Token service. You can access Account balances, add funds to&nbsp;the Account and review the recent
    Account history on&nbsp;our web site or&nbsp;on&nbsp;our mobile app.<br>
    When registering the Account you agree:</p>
<ul>
    <li>Not to&nbsp;disclose your login credentials</li>
    <li>To&nbsp;promptly notify us&nbsp;of&nbsp;any loss, unauthorized use or&nbsp;theft of&nbsp;the Account
    </li>
    <li>You are liable for any transactions made by&nbsp;a&nbsp;person you authorize or&nbsp;permit to&nbsp;use
        the Account. If&nbsp;you permit someone else to&nbsp;use the Account, we&nbsp;and the parking operator
        will treat this as&nbsp;if&nbsp;you have authorized this person to&nbsp;use the Account and you will be&nbsp;responsible
        for any transactions initiated by&nbsp;such person with the Account
    </li>
    <li>In&nbsp;case you loose your mobile phone/device associated with the Account or&nbsp;suspect that someone
        else is&nbsp;using the Account, you are responsible to&nbsp;notify us&nbsp;immediately and to&nbsp;disable
        your phone/device listed under the Account
    </li>
</ul>
<h2>4. Pricing, Payment and Refunds</h2>
<p>Payments shall be&nbsp;made in&nbsp;the currency of&nbsp;the country where the parking facility is&nbsp;located
    and shall be&nbsp;at&nbsp;the price posted at&nbsp;the parking facility on&nbsp;the date of&nbsp;service by&nbsp;the
    parking operator.<br>
    Token applies a&nbsp;bank transaction and processing fee to&nbsp;the total amount each time you add funds
    to&nbsp;the Account. The amount to&nbsp;be&nbsp;charged for a&nbsp;particular transaction will be&nbsp;shown
    clearly in&nbsp;your total amount to&nbsp;be&nbsp;paid. You authorize Token to&nbsp;charge your
    credit/debit card for such amounts each time you add funds to&nbsp;the Account.</p>
<h2>5. Parking Transactions</h2>
<p>Details of&nbsp;your parking transactions will be&nbsp;available in&nbsp;real time on&nbsp;your online
    statement on&nbsp;our web site or&nbsp;through our mobile app. Your statement will be&nbsp;available to&nbsp;you
    in&nbsp;electronic format for viewing and printing online at&nbsp;<a href="https://tokenapplications.com">https://www.TokenApplications.com</a>.
    You can also view your transaction history on&nbsp;our mobile app.</p>
<h2>6. Failure to Complete Parking Transactions</h2>
<p>We&nbsp;and the parking operators accept no&nbsp;liability to&nbsp;complete any transaction which cannot be&nbsp;cleared
    by&nbsp;our Token mobile app, whether because there are no&nbsp;sufficient funds available on&nbsp;the
    Account or&nbsp;otherwise. If&nbsp;the Token Account balance is&nbsp;not sufficient to&nbsp;pay for a&nbsp;parking
    session or&nbsp;if&nbsp;for any reason there is&nbsp;an&nbsp;interruptions in&nbsp;service, you are
    responsible to&nbsp;settle any difference in&nbsp;the amount due to&nbsp;the parking operator before leaving
    the parking lot.<br>
    Neither we&nbsp;nor any of&nbsp;the parking operators we&nbsp;have relationships with will be&nbsp;liable to&nbsp;you
    for any failure to&nbsp;accept or&nbsp;honor the Account.</p>
<h2>7.&nbsp;Token is&nbsp;not a&nbsp;Parking Company</h2>
<p>Token provides a&nbsp;service to&nbsp;enable your payment for parking at&nbsp;certain facilities. Token
    does not own, operate or&nbsp;maintain parking facilities and is&nbsp;not responsible for any such
    facilities or&nbsp;events that occur at&nbsp;such facilities. Parking facilities are operated by&nbsp;companies
    with which Token has contractual relationships with.</p>
<h2>8. Service Availability</h2>
<p>This service is&nbsp;only available at&nbsp;selected locations and may not be&nbsp;available at&nbsp;all
    times at&nbsp;active locations. While we&nbsp;will endeavor to&nbsp;provide the best possible service, there
    are limitations to&nbsp;wireless, cellular and payment technologies which may cause interruptions in&nbsp;service.
    Please note that we&nbsp;provide no&nbsp;service level guarantees whatsoever concerning this service.</p>
<h2>9. Refunds</h2>
<p>If&nbsp;you think there has been a&nbsp;billing or&nbsp;accounting error, please contact us&nbsp;through the
    links listed at&nbsp;the end of&nbsp;this page.<br>
    To&nbsp;request a&nbsp;refund or&nbsp;have a&nbsp;dispute, we&nbsp;must hear from you no&nbsp;later than 5
    working days after the transaction in&nbsp;question has occurred by&nbsp;sending us&nbsp;an&nbsp;email to&nbsp;<a href="mailto:support@tokenapplications.com">support@TokenApplications.com</a><br>
    The following information must be&nbsp;contained in&nbsp;that notice:</p>
<ul>
    <li>Your name, user name and phone number used for the Account.</li>
    <li>Description of&nbsp;the error or&nbsp;the transaction you are unsure about with an&nbsp;explanation of&nbsp;why
        you believe it&nbsp;is&nbsp;an&nbsp;error or&nbsp;why you need more information.
    </li>
    <li>Time and date and location of&nbsp;the transaction as&nbsp;well as&nbsp;any reference number of&nbsp;that
        transaction.
    </li>
    <li>The amount of&nbsp;the suspected error.</li>
</ul>
<p>In&nbsp;all cases, all refunds owed to&nbsp;you will be&nbsp;credited to&nbsp;the Account. Token and the
    parking operators will not provide any cash refunds. The parking operator must authorize all refunds
    requests.</p>
<h2>10. Loss, Theft or&nbsp;Unauthorized Use</h2>
<p>You are responsible for all authorized uses of&nbsp;the Account. You must notify us&nbsp;at&nbsp;once if&nbsp;you
    believe that an&nbsp;unauthorized person has used the Account. If&nbsp;you believe that your phone/device
    has been stolen, or&nbsp;that someone may improperly use the Account without permission, contact us&nbsp;immediately
    at&nbsp;<a href="mailto:support@tokenapplications.com">support@TokenApplications.com</a>. If&nbsp;your phone/device has been
    lost or&nbsp;stolen, you can disable them on&nbsp;our web site TokenApplications.com.<br>
    Token is&nbsp;not liable for any transactions done on&nbsp;the Account by&nbsp;an&nbsp;unauthorized party
    and will provide no&nbsp;refunds to&nbsp;these transactions. It&nbsp;is&nbsp;your responsibility to&nbsp;disable
    your phone/device should you suspect any fraudulent transactions to&nbsp;the Account.</p>
<h2>11. Contact Information and Business Days and Hours</h2>
<p>Should you wish to&nbsp;contact us, you may do&nbsp;so&nbsp;at&nbsp;the links provided below and during our
    business days which are all days except Fridays, Saturdays, and holidays.</p>
<h2>12. License and Site Access</h2>
<p>Token grants you a&nbsp;limited license to&nbsp;access and make personal use of&nbsp;its web site and its
    service. You may view the site or&nbsp;share via social networking, in&nbsp;accordance with the these Terms
    and Conditions, solely for your own personal,
    <nobr>non-commercial</nobr>
    use, provided you do&nbsp;not remove any Token logo or&nbsp;images No&nbsp;other use is&nbsp;permitted.
    Any unauthorized use terminates the permission or&nbsp;license granted by&nbsp;Token. You may not use any
    Token’s&nbsp;logo or&nbsp;other proprietary graphic without Token’s&nbsp;express written permission.
</p>
<h2>13. Amendment and Cancellation</h2>
<p>We&nbsp;may at&nbsp;any time change or&nbsp;repeal these terms and conditions. You will be&nbsp;notified of&nbsp;any
    change prior to&nbsp;the effective date of&nbsp;the change. You specifically agree to&nbsp;accept such
    notice of&nbsp;change by&nbsp;notice sent to&nbsp;the last email address you have provided to&nbsp;us.
    However, if&nbsp;the change is&nbsp;made for security purposes, we&nbsp;can implement such change without
    prior notice. Should you decide that you no&nbsp;longer agree to&nbsp;accept changes or&nbsp;notices, we&nbsp;may
    cancel or&nbsp;suspend this agreement or&nbsp;any features or&nbsp;services of&nbsp;the Account described
    herein at&nbsp;any time. The Account remains our property.<br>
    If&nbsp;there are any questions regarding this terms and conditions, you may contact us&nbsp;using the
    information below:</p>
<p>
    <a href="https://www.TokenApplications.com">TokenApplications.com</a><br>
    Sharq<br>
    Kuwait City, Kuwait<br>
    <a href="mailto:info@TokenApplications.com">info@TokenApplications.com</a>
</p>
<h2>DISCLAIMER OF&nbsp;WARRANTIES AND LIMITATION OF&nbsp;LIABILITY</h2>
<p>THE SERVICES SUBJECT TO&nbsp;THIS AGREEMENT ARE PROVIDED ON&nbsp;«AS&nbsp;IS» AND «AS&nbsp;AVAILABLE»
    BASIS. Token MAKES NO&nbsp;REPRESENTATIONS OR&nbsp;WARRANTIES OF&nbsp;ANY KIND, EXPRESS OR&nbsp;IMPLIED,
    AS&nbsp;TO&nbsp;THE OPERATION OF&nbsp;THIS SERVICE OR&nbsp;THE INFORMATION, CONTENT, MATERIALS, OR&nbsp;PRODUCTS
    INCLUDED ON&nbsp;THIS SITE. YOU EXPRESSLY AGREE THAT YOUR USE OF&nbsp;THIS SITE AND OUR SERVICE IS&nbsp;AT&nbsp;YOUR
    SOLE RISK.</p>
<p>TO&nbsp;THE FULLEST EXTENT PERMITTED BY&nbsp;APPLICABLE LAW, Token DISCLAIMS ALL WARRANTIES, EXPRESS OR&nbsp;IMPLIED,
    INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF&nbsp;MERCHANTABILITY AND FITNESS FOR A&nbsp;PARTICULAR
    PURPOSE.<br>
    Token DOES NOT OWN, CONTROL OR&nbsp;OPERATE PARKING FACILITIES. ACCORDINGLY, Token DOES NOT WARRANT
    ANYTHING WITH RESPECT TO&nbsp;SUCH FACILITIES. Token WILL NOT BE&nbsp;LIABLE FOR ANY DAMAGES OF&nbsp;ANY
    KIND ARISING FROM OR&nbsp;RELATED TO&nbsp;ANY PARKING FACILITY OR&nbsp;ITS OPERATION, INCLUDING, BUT NOT
    LIMITED TO&nbsp;DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES.</p>